<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqh.sys.mapper.UserMapper">
    <resultMap id="RelationMap" type="com.lqh.sys.entity.User">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="sex" column="sex" />
        <result property="phone" column="phone" />
        <association property="relation" javaType="com.lqh.sys.entity.Relation">
            <result property="relation" column="relation"/>
        </association>
    </resultMap>
    <select id="getRelationByUserId" parameterType="Integer" resultMap="RelationMap">
        SELECT id, username, sex, phone, relation
        FROM `user`, relation
        WHERE `user`.id = sec_id
          AND pri_id = #{userId};
    </select>
</mapper>
